body{
    margin: 0px;
    padding: 0px;
    font-family: Impact, fantasy;
    background-image: url("../images/space/1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    opacity: 0.95;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #FDA7DF;
}

.box input[type = "submit"]{
    border: 0;
    color: #bdc3c7;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #82589F;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background-color: #82589F;
    color: white;
}
