body{
    font-family: 'Source code pro', Calibri, serif;
    /* font-family: Impact, fantasy; */
    /* margin: 0px;
    padding: 0px; */
    background-image: url("../images/space/2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.95;
    font-size: 0.65em;
    list-style: none;
    position: absolute;
    /* background-color: #424558; */
}
nav{
    display: block;
    background-color: black;
}

/* nav > ul{
    margin: 0px;
    padding: 0px;
}  */
#nav button {
    margin: 8px 8px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 25px;
    color: #fff8f8;
    display: block;
}
#nav button:hover {
    /* border-left: 5px solid #bbb;
    background-color: RGBa(220, 220, 220, 0.15); */
    color: aqua;
    cursor: pointer;
    transform: scale(1.01);
}

  

nav > ul::after{
    content: "";
    display: block;
    clear: both;
} 

nav > ul > li{
    float: none;
    position: relative;
}

nav li{
    list-style-type: none; 
}


/*
 menu au survol de la souris */
 .menuAc:hover{
    border-top: 5px solid #bbb;
    background-color: RGBa(220, 220, 220, 0.15);
}
.menuIns:hover{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000, 112, 192, 0.15);
}
.menuLi:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menuPub:hover{
    border-top: 5px solid #35B554;
    background-color: RGBA(54,244,63,0.14);
}
.menuMess:hover{
    border-top: 5px solid #be2edd;
    background-color: RGBA(125,93,148,0.15);
}
.menuDec:hover{
    
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77,38, 0.15);
} 

#h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    color: white;
    font-style: italic;
    font-family: Brush Script MT;
    font-size: 100px;
}